In [7]:
import pandas as pd

#vol = pd.read_csv('stock_price.csv')
vol = pd.read_csv('avg_price2.csv')
vol['timestamp'] = pd.to_datetime(vol['timestamp'])
vol.fillna(0,inplace=True)
vol.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>-60</th>
      <th>-55</th>
      <th>-50</th>
      <th>-45</th>
      <th>-40</th>
      <th>-35</th>
      <th>-30</th>
      <th>-25</th>
      <th>-20</th>
      <th>...</th>
      <th>20</th>
      <th>25</th>
      <th>30</th>
      <th>35</th>
      <th>40</th>
      <th>45</th>
      <th>50</th>
      <th>55</th>
      <th>60</th>
      <th>ticker</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2011-10-18 17:00:00</td>
      <td>0.0</td>
      <td>422.887649</td>
      <td>422.905214</td>
      <td>422.773413</td>
      <td>422.614620</td>
      <td>422.388737</td>
      <td>422.140907</td>
      <td>422.041408</td>
      <td>422.061475</td>
      <td>...</td>
      <td>402.31078</td>
      <td>401.957476</td>
      <td>401.667263</td>
      <td>401.317529</td>
      <td>401.097013</td>
      <td>401.011549</td>
      <td>400.941274</td>
      <td>400.890304</td>
      <td>0.0</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2016-01-26 17:00:00</td>
      <td>0.0</td>
      <td>100.225042</td>
      <td>100.237870</td>
      <td>100.262967</td>
      <td>100.292838</td>
      <td>100.346780</td>
      <td>100.406377</td>
      <td>100.456048</td>
      <td>100.516695</td>
      <td>...</td>
      <td>0.00000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2013-01-23 17:00:00</td>
      <td>0.0</td>
      <td>513.838449</td>
      <td>513.880214</td>
      <td>513.948662</td>
      <td>513.936247</td>
      <td>513.889569</td>
      <td>513.803833</td>
      <td>513.777800</td>
      <td>513.807300</td>
      <td>...</td>
      <td>456.12729</td>
      <td>456.626112</td>
      <td>457.550410</td>
      <td>458.199209</td>
      <td>458.700433</td>
      <td>458.889273</td>
      <td>459.026946</td>
      <td>459.343187</td>
      <td>0.0</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2014-04-23 17:00:00</td>
      <td>0.0</td>
      <td>528.708314</td>
      <td>528.731746</td>
      <td>528.744940</td>
      <td>528.792708</td>
      <td>528.839469</td>
      <td>528.872050</td>
      <td>528.895100</td>
      <td>528.922825</td>
      <td>...</td>
      <td>0.00000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>AAPL</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2014-07-22 05:00:00</td>
      <td>0.0</td>
      <td>94.079242</td>
      <td>94.088812</td>
      <td>94.092636</td>
      <td>94.084843</td>
      <td>94.073317</td>
      <td>94.070957</td>
      <td>94.072612</td>
      <td>94.069215</td>
      <td>...</td>
      <td>0.00000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.0</td>
      <td>AAPL</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 27 columns</p>
</div>

In [10]:
#vol.loc[:, 'Cat10'] = vol.iloc[:, 1:11].apply(lambda x: x.argmax(), axis=1)

vol.loc[:, 'before'] = vol.iloc[:, 1:6].mean(axis=1)
vol.loc[:, 'after'] = vol.iloc[:, 5:11].mean(axis=1)

price = vol.copy()

price.loc[vol.before <= 0, 'before'] = 'D'
price.loc[vol.before > 0, 'before'] = 'U'
price.loc[vol.after <= 0, 'after'] = 'D'
price.loc[vol.after > 0, 'after'] = 'U'

price.loc[:, 'Cat'] = price.loc[:, ['before', 'after']].apply(lambda x: ''.join(x), axis=1)

print(price.head())

            timestamp  120_before  60_before  30_before  10_before  5_before  \
0 2013-04-23 17:00:00    0.000739   0.001602  -0.003196  -0.003981 -0.000517
1 2016-10-25 17:00:00    0.000859   0.001276   0.001531   0.000893  0.000298
2 2012-04-24 17:00:00    0.008644  -0.003937  -0.000889   0.001518 -0.000089
3 2013-07-23 17:00:00   -0.009856  -0.008816  -0.004239  -0.001026  0.000239
4 2014-04-23 17:00:00   -0.001134   0.000454  -0.000178  -0.000511 -0.000397

    5_after  10_after  30_after  60_after  120_after ticker before after Cat
0  0.012327  0.025272  0.038639  0.021734        0.0   AAPL      D     U  DU
1  0.000000  0.000000  0.000000  0.000000        0.0   AAPL      U     U  UU
2 -0.012674 -0.004119  0.004263 -0.002951        0.0   AAPL      U     D  UD
3 -0.001234 -0.000546 -0.002283  0.004487        0.0   AAPL      D     U  DU
4  0.000000  0.000000  0.000000  0.000000        0.0   AAPL      D     D  DD

In [8]:
sent = pd.read_csv('19.csv')
sent.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ticker</th>
      <th>timestamp</th>
      <th>120_before_vol</th>
      <th>60_before_vol</th>
      <th>30_before_vol</th>
      <th>10_before_vol</th>
      <th>5_before_vol</th>
      <th>5_after_vol</th>
      <th>10_after_vol</th>
      <th>30_after_vol</th>
      <th>...</th>
      <th>Analytical</th>
      <th>Confident</th>
      <th>Tentative</th>
      <th>Openness</th>
      <th>Conscientiousness</th>
      <th>Extraversion</th>
      <th>Agreeableness</th>
      <th>Emotional Range</th>
      <th>Cat10</th>
      <th>Cat2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AAPL</td>
      <td>7/21/15 17:00</td>
      <td>0.337179</td>
      <td>0.136478</td>
      <td>0.122044</td>
      <td>0.018600</td>
      <td>0.014314</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>...</td>
      <td>0.729482</td>
      <td>0.0</td>
      <td>0.305310</td>
      <td>0.522968</td>
      <td>0.763873</td>
      <td>0.827263</td>
      <td>0.720570</td>
      <td>0.786474</td>
      <td>120_before</td>
      <td>before</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AAPL</td>
      <td>1/26/16 17:00</td>
      <td>0.572057</td>
      <td>0.262054</td>
      <td>0.189982</td>
      <td>0.069244</td>
      <td>0.038341</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>...</td>
      <td>0.706643</td>
      <td>0.0</td>
      <td>0.486052</td>
      <td>0.477063</td>
      <td>0.716117</td>
      <td>0.793926</td>
      <td>0.676473</td>
      <td>0.645176</td>
      <td>120_before</td>
      <td>before</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AAPL</td>
      <td>4/27/15 17:00</td>
      <td>0.095532</td>
      <td>0.078290</td>
      <td>0.065764</td>
      <td>0.044322</td>
      <td>0.020542</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>...</td>
      <td>0.207012</td>
      <td>0.0</td>
      <td>0.076346</td>
      <td>0.249613</td>
      <td>0.634723</td>
      <td>0.701370</td>
      <td>0.711850</td>
      <td>0.657607</td>
      <td>120_before</td>
      <td>before</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AAPL</td>
      <td>1/23/13 17:00</td>
      <td>2.026954</td>
      <td>0.505484</td>
      <td>0.393379</td>
      <td>0.352783</td>
      <td>0.116103</td>
      <td>1.482074</td>
      <td>1.971758</td>
      <td>3.24086</td>
      <td>...</td>
      <td>0.558772</td>
      <td>0.0</td>
      <td>0.079063</td>
      <td>0.487331</td>
      <td>0.925340</td>
      <td>0.772834</td>
      <td>0.689951</td>
      <td>0.793277</td>
      <td>60_after</td>
      <td>after</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AAPL</td>
      <td>1/31/17 17:00</td>
      <td>0.115896</td>
      <td>0.072113</td>
      <td>0.066953</td>
      <td>0.027651</td>
      <td>0.035514</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.00000</td>
      <td>...</td>
      <td>0.662148</td>
      <td>0.0</td>
      <td>0.158698</td>
      <td>0.501163</td>
      <td>0.863210</td>
      <td>0.799753</td>
      <td>0.678468</td>
      <td>0.847058</td>
      <td>120_before</td>
      <td>before</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 27 columns</p>
</div>

In [9]:
sent["timestamp"] = pd.to_datetime(sent["timestamp"])   #sent['date'] + ' ' + sent['time'])

In [10]:
df = pd.merge(vol, sent, how='left', on=['ticker', 'timestamp'])
df.to_csv('avg_price_merged.csv')