In [5]:
import pandas as pd

df = pd.read_csv('~/Downloads/DEMO.csv', index_col=None, header=0)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['release_script'] = pd.to_datetime(df['release_script'])
bool(df.loc[0, 'timestamp'] < df.loc[0, 'release_script'])

True

In [3]:
df['date'] = [d.date() for d in df['timestamp']]
df['time'] = [d.time() for d in df['timestamp']]
df['price'] = df['close']

In [25]:
import numpy as np
def rolling_volatility(df, intvl=5):
    '''
    
    :param df: stock data frame, columns must have ['date', 'time', 'price'] 
    :param int: time interval, unit in minute
    :return: return a new data frame with its volatility
    '''
    
    data = df.copy()
    output = pd.DataFrame()
    
    for date in set(df.loc[:, 'date']):
        temp_df1 = data.loc[data.date == date, :]
        temp_df1['ind'] = temp_df1.index

        temp_df1 = temp_df1.groupby(temp_df1.index//intvl).mean()
        temp_df2 = temp_df1.set_index('ind')
        temp_df2.loc[:, 'time'] = df.loc[temp_df2.index, 'time']

        s_i = temp_df2['price']
        s_i_1 = temp_df2['price'].shift(1)
        temp_df2['u_sequence'] = np.log(s_i/s_i_1)
        s = temp_df2['u_sequence'].rolling(window=len(set(temp_df1.index//intvl)), center=False).std()
        #data.loc[data.date == date, str(intvl)+'_min_vol'] 
        temp_df2.loc[:, str(intvl)+'_min_vol'] = s * np.sqrt(len(set(temp_df1.index//intvl)))
        
        output = pd.concat([output,temp_df2])
    output.reset_index(drop=True,inplace=True)
    return output

def volatility(df, intvl=5):
    
    data = df.copy()
    avg_df = pd.DataFrame()
    output = pd.DataFrame(columns=['vol_before', 'vol_after'])
    
    for date in set(df.loc[:, 'date']):
        temp_df1 = data.loc[data.date == date, :]
        temp_df1['ind'] = temp_df1.index
        temp_df1 = temp_df1.groupby(temp_df1.index//intvl).mean()
        temp_df2 = temp_df1.set_index('ind')
        temp_df2.loc[:, 'timestamp'] = df.loc[temp_df2.index, 'timestamp']
        temp_df2.loc[:, 'release_script'] = df.loc[temp_df2.index, 'release_script']
        
        avg_df = pd.concat([avg_df,temp_df2])
    
    for date in set(avg_df.loc[:, 'release_script']):
        temp_df3 = avg_df.loc[avg_df.release_script == date,:]
        vol_before = temp_df3.loc[temp_df3.timestamp < temp_df3.release_script, 'price'].std()
        vol_after = temp_df3.loc[temp_df3.timestamp > temp_df3.release_script, 'price'].std()
        
        output.loc[date, :] = [vol_before, vol_after]
        output.index.name = 'date'
        output.sort_index(inplace=True)
    
    return output


def vol(df, mode):
    '''
    
    :param df: before or after stock data frame
    :param mode: 1 - before
                 0 - after
    :return: 
    '''
    
    intvl_list = [5,10,30,60,120]
    dic = {}
    
    for i in intvl_list:
        if mode:
            dic[str(i)+'_before'] = df.iloc[-i:, 7].std()
        else: 
            dic[str(i)+'_after'] = df.iloc[:i, 7].std()
    
    return dic


def auto_vol(df):
    
    data = df.copy()
    output = pd.DataFrame(columns=['10_after', '5_after', '120_before', '30_after', 
                                   '5_before', '60_before', '60_after', '10_before', '30_before', '120_after'])
        
    for date in set(data.loc[:, 'release_script']):
        
        temp_df1 = data.loc[data.release_script == date, :]
        
        df_before = temp_df1.loc[temp_df1.timestamp < temp_df1.release_script, :]
        
        df_after = temp_df1.loc[temp_df1.timestamp > temp_df1.release_script, :]
        
        dic ={**vol(df_before,1), **vol(df_after, 0)}
        
        for key in dic.keys():
            output.loc[date, key] = dic[key]
    
    return output
        

auto_vol(df)

{'10_after': 0.03427831352003497, '5_after': 0.005044799302250793, '120_before': 0.11615515883364574, '30_after': 0.05477905055137764, '5_before': 0.03033150177620696, '60_before': 0.13700669226716167, '60_after': 0.0688493917397813, '10_before': 0.042439499421071517, '30_before': 0.13088939350968554, '120_after': 0.08937666008422489}
{'10_after': 0.4219032023001381, '5_after': 0.28887713651308544, '120_before': 0.19597499443188413, '30_after': 0.30830924855918035, '5_before': 0.018708286933870735, '60_before': 0.13423501756500777, '60_after': 0.342944908107957, '10_before': 0.03167685625535194, '30_before': 0.07908256706628224, '120_after': 0.3015824738014488}
{'10_after': nan, '5_after': nan, '120_before': 0.0449869693791373, '30_after': nan, '5_before': 0.004086563348340505, '60_before': 0.046346266708907034, '60_after': nan, '10_before': 0.013615350813614454, '30_before': 0.014649334063558802, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.14055521609071675, '30_after': nan, '5_before': 0.01949358868961715, '60_before': 0.046258209349296524, '60_after': nan, '10_before': 0.025298221281347684, '30_before': 0.04689351167039616, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.12505587842357233, '30_after': nan, '5_before': 0.06967639485507333, '60_before': 0.07604713636391917, '60_after': nan, '10_before': 0.06330315070270162, '30_before': 0.04707490973370848, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.1549944786018486, '30_after': nan, '5_before': 0.005477225575050572, '60_before': 0.14126931017448632, '60_after': nan, '10_before': 0.04175324338699074, '30_before': 0.10652774718138133, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.04146312862911192, '30_after': nan, '5_before': 0.031144823004794608, '60_before': 0.04183864431589668, '60_after': nan, '10_before': 0.04596265271331121, '30_before': 0.05501185880512874, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.1244771214481021, '30_after': nan, '5_before': 0.01341640786499938, '60_before': 0.05119880038650259, '60_after': nan, '10_before': 0.03252776591706709, '30_before': 0.05995304676237844, '120_after': nan}
{'10_after': 0.3451023841638242, '5_after': 0.022117866081518056, '120_before': 0.06233610387198077, '30_after': 0.5405102902356022, '5_before': 0.08870119503140898, '60_before': 0.05860993542969887, '60_after': 0.5530228190626086, '10_before': 0.06558845511554957, '30_before': 0.053235977485631095, '120_after': 0.615863883765748}
{'10_after': nan, '5_after': nan, '120_before': 0.037671127883969736, '30_after': nan, '5_before': 0.013038404810405156, '60_before': 0.03224453634794249, '60_after': nan, '10_before': 0.0271633433550106, '30_before': 0.03251049786245069, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.12358246543909733, '30_after': nan, '5_before': 0.011413062691494185, '60_before': 0.025940606379228157, '60_after': nan, '10_before': 0.016386990097160194, '30_before': 0.01990767800819963, '120_after': nan}
{'10_after': 0.41060026857706267, '5_after': 0.329360061331061, '120_before': 0.06336918320772565, '30_after': 0.5031988490772249, '5_before': 0.00836660026534079, '60_before': 0.07768027903794131, '60_after': 0.7916389994261462, '10_before': 0.011547486498994135, '30_before': 0.022142407432267693, '120_after': 0.5826016632596519}
{'10_after': nan, '5_after': nan, '120_before': 0.06208844461880216, '30_after': nan, '5_before': 0.02044993887521241, '60_before': 0.03966941566935427, '60_after': nan, '10_before': 0.018764327858997325, '30_before': 0.04088803171994204, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.040580591383798964, '30_after': nan, '5_before': 0.021679483388679154, '60_before': 0.026237887116515368, '60_after': nan, '10_before': 0.019607254893137156, '30_before': 0.02831930010824269, '120_after': nan}
{'10_after': 0.18887855710305848, '5_after': 0.23347205400218685, '120_before': 0.06735258906828809, '30_after': 0.271842758302257, '5_before': 0.020527834761610124, '60_before': 0.07022487388688818, '60_after': 0.27223965565319375, '10_before': 0.020659310518773184, '30_before': 0.02415588003426644, '120_after': 0.21129959486287644}
{'10_after': nan, '5_after': nan, '120_before': 0.16309396489924005, '30_after': nan, '5_before': 0.007071067811866581, '60_before': 0.07037124115660383, '60_after': nan, '10_before': 0.009944289260118491, '30_before': 0.08031922659562588, '120_after': nan}

{'10_after': 0.21359944340335285, '5_after': 0.11606032913963357, '120_before': 0.3449150937302145, '30_after': 0.21948582547902, '5_before': 0.04073941580337161, '60_before': 0.3881408783609404, '60_after': 0.26125789583396936, '10_before': 0.08799122430990255, '30_before': 0.17210789184921665, '120_after': 0.22201156406141423}
{'10_after': nan, '5_after': nan, '120_before': 0.27831120690327077, '30_after': nan, '5_before': 0.033837848631377246, '60_before': 0.17720789702595538, '60_after': nan, '10_before': 0.08313476341993704, '30_before': 0.1694207599338163, '120_after': nan}
{'10_after': nan, '5_after': nan, '120_before': 0.2265493201291508, '30_after': nan, '5_before': 0.09249324299644901, '60_before': 0.18019079263772705, '60_after': nan, '10_before': 0.08111035007253288, '30_before': 0.08431195494783968, '120_after': nan}
{'10_after': 0.08112242873857027, '5_after': 0.1042362700790848, '120_before': 0.17498670933161198, '30_after': 0.07780796312998275, '5_before': 0.03898717737923586, '60_before': 0.19718588845894805, '60_after': 0.06534864645285567, '10_before': 0.07915022004601958, '30_before': 0.2415132690483836, '120_after': 0.26118947668722303}
{'10_after': 0.029899089543923486, '5_after': 0.024905822612393238, '120_before': 0.09855196527542782, '30_after': 0.0347520352500829, '5_before': 0.02408318915758533, '60_before': 0.1250657903701246, '60_after': 0.04903080142829164, '10_before': 0.030301743624198837, '30_before': 0.10537109295193377, '120_after': 0.05151185275603075}

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>10_after</th>
      <th>5_after</th>
      <th>120_before</th>
      <th>30_after</th>
      <th>5_before</th>
      <th>60_before</th>
      <th>60_after</th>
      <th>10_before</th>
      <th>30_before</th>
      <th>120_after</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-04-25 10:00:00</th>
      <td>0.0342783</td>
      <td>0.0050448</td>
      <td>0.116155</td>
      <td>0.0547791</td>
      <td>0.0303315</td>
      <td>0.137007</td>
      <td>0.0688494</td>
      <td>0.0424395</td>
      <td>0.130889</td>
      <td>0.0893767</td>
    </tr>
    <tr>
      <th>2013-02-12 09:00:00</th>
      <td>0.421903</td>
      <td>0.288877</td>
      <td>0.195975</td>
      <td>0.308309</td>
      <td>0.0187083</td>
      <td>0.134235</td>
      <td>0.342945</td>
      <td>0.0316769</td>
      <td>0.0790826</td>
      <td>0.301582</td>
    </tr>
    <tr>
      <th>2013-10-30 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.044987</td>
      <td>NaN</td>
      <td>0.00408656</td>
      <td>0.0463463</td>
      <td>NaN</td>
      <td>0.0136154</td>
      <td>0.0146493</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-10-28 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.140555</td>
      <td>NaN</td>
      <td>0.0194936</td>
      <td>0.0462582</td>
      <td>NaN</td>
      <td>0.0252982</td>
      <td>0.0468935</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-02-05 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.125056</td>
      <td>NaN</td>
      <td>0.0696764</td>
      <td>0.0760471</td>
      <td>NaN</td>
      <td>0.0633032</td>
      <td>0.0470749</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-02-04 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.154994</td>
      <td>NaN</td>
      <td>0.00547723</td>
      <td>0.141269</td>
      <td>NaN</td>
      <td>0.0417532</td>
      <td>0.106528</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-04-28 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0414631</td>
      <td>NaN</td>
      <td>0.0311448</td>
      <td>0.0418386</td>
      <td>NaN</td>
      <td>0.0459627</td>
      <td>0.0550119</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-04-30 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.124477</td>
      <td>NaN</td>
      <td>0.0134164</td>
      <td>0.0511988</td>
      <td>NaN</td>
      <td>0.0325278</td>
      <td>0.059953</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-07-25 09:00:00</th>
      <td>0.345102</td>
      <td>0.0221179</td>
      <td>0.0623361</td>
      <td>0.54051</td>
      <td>0.0887012</td>
      <td>0.0586099</td>
      <td>0.553023</td>
      <td>0.0655885</td>
      <td>0.053236</td>
      <td>0.615864</td>
    </tr>
    <tr>
      <th>2017-02-08 17:30:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0376711</td>
      <td>NaN</td>
      <td>0.0130384</td>
      <td>0.0322445</td>
      <td>NaN</td>
      <td>0.0271633</td>
      <td>0.0325105</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-07-29 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.123582</td>
      <td>NaN</td>
      <td>0.0114131</td>
      <td>0.0259406</td>
      <td>NaN</td>
      <td>0.016387</td>
      <td>0.0199077</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-02-08 09:00:00</th>
      <td>0.4106</td>
      <td>0.32936</td>
      <td>0.0633692</td>
      <td>0.503199</td>
      <td>0.0083666</td>
      <td>0.0776803</td>
      <td>0.791639</td>
      <td>0.0115475</td>
      <td>0.0221424</td>
      <td>0.582602</td>
    </tr>
    <tr>
      <th>2015-07-29 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0620884</td>
      <td>NaN</td>
      <td>0.0204499</td>
      <td>0.0396694</td>
      <td>NaN</td>
      <td>0.0187643</td>
      <td>0.040888</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-07-27 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.0405806</td>
      <td>NaN</td>
      <td>0.0216795</td>
      <td>0.0262379</td>
      <td>NaN</td>
      <td>0.0196073</td>
      <td>0.0283193</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-05-03 09:00:00</th>
      <td>0.188879</td>
      <td>0.233472</td>
      <td>0.0673526</td>
      <td>0.271843</td>
      <td>0.0205278</td>
      <td>0.0702249</td>
      <td>0.27224</td>
      <td>0.0206593</td>
      <td>0.0241559</td>
      <td>0.2113</td>
    </tr>
    <tr>
      <th>2015-04-29 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.163094</td>
      <td>NaN</td>
      <td>0.00707107</td>
      <td>0.0703712</td>
      <td>NaN</td>
      <td>0.00994429</td>
      <td>0.0803192</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-07-31 10:00:00</th>
      <td>0.213599</td>
      <td>0.11606</td>
      <td>0.344915</td>
      <td>0.219486</td>
      <td>0.0407394</td>
      <td>0.388141</td>
      <td>0.261258</td>
      <td>0.0879912</td>
      <td>0.172108</td>
      <td>0.222012</td>
    </tr>
    <tr>
      <th>2016-02-04 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.278311</td>
      <td>NaN</td>
      <td>0.0338378</td>
      <td>0.177208</td>
      <td>NaN</td>
      <td>0.0831348</td>
      <td>0.169421</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-11-05 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.226549</td>
      <td>NaN</td>
      <td>0.0924932</td>
      <td>0.180191</td>
      <td>NaN</td>
      <td>0.0811104</td>
      <td>0.084312</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-11-02 10:00:00</th>
      <td>0.0811224</td>
      <td>0.104236</td>
      <td>0.174987</td>
      <td>0.077808</td>
      <td>0.0389872</td>
      <td>0.197186</td>
      <td>0.0653486</td>
      <td>0.0791502</td>
      <td>0.241513</td>
      <td>0.261189</td>
    </tr>
    <tr>
      <th>2012-12-24 10:30:00</th>
      <td>0.0298991</td>
      <td>0.0249058</td>
      <td>0.098552</td>
      <td>0.034752</td>
      <td>0.0240832</td>
      <td>0.125066</td>
      <td>0.0490308</td>
      <td>0.0303017</td>
      <td>0.105371</td>
      <td>0.0515119</td>
    </tr>
  </tbody>
</table>
</div>