In [59]:
# This is the web crawler to get intraday stock price from Google Finance

import requests
import pandas as pd
from io import StringIO
from datetime import datetime


class StockPriceCrawler():
    def __init__(self, ticker, interval, periods, unit = 'd'):
        '''

        :param ticker: The symbol of the stock on Google Finance
        :param interval: The interval in seconds
        :param periods: the number of the periods
        :param unit: d for day (default)
                     m for month
                     y for year
        '''

        self.ticker = ticker.upper()
        self.interval = interval
        self.periods = periods
        self.unit = unit


    def get(self):
        url = 'http://www.google.com/finance/getprices?q={0}&i={1}&p={2}{3}&f=d,o,h,l,c,v&df=cpct&auto=1&ts=1485527400'.format(self.ticker, self.interval, self.periods, self.unit)
        flag = 0
        timeStamp = 0
        
        try:
            r = requests.get(url)
            df = pd.read_csv(StringIO(r.text[143:]), sep=',', header=None)
            df.columns = ['Seq', 'Open', 'High', 'Low', 'Close', 'Volume']


            for i in range(len(df)):
                if df.Seq[i].startswith('a'):
                    timeStamp = df.Seq[i][1:]
                    flag = 0
                    df.loc[i, 'Date'] = datetime.fromtimestamp(timestamp=int(timeStamp))
                else:
                    df.loc[i, 'Date'] = datetime.fromtimestamp(timestamp=int(timeStamp) + flag * self.interval)
    
                flag += 1
            
            stockData = df.set_index('Date')[['Open', 'High', 'Low', 'Close', 'Volume']]

            return stockData

        except ConnectionError:
            print('Connection error, try again!')

In [63]:
df = StockPriceCrawler('goog', 60 , 50, 'd').get()
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2017-01-13 09:30:00</th>
      <td>808.0000</td>
      <td>808.0300</td>
      <td>807.4800</td>
      <td>807.4800</td>
      <td>27974</td>
    </tr>
    <tr>
      <th>2017-01-13 09:31:00</th>
      <td>808.3115</td>
      <td>808.8900</td>
      <td>807.2800</td>
      <td>807.6400</td>
      <td>6150</td>
    </tr>
    <tr>
      <th>2017-01-13 09:32:00</th>
      <td>807.0000</td>
      <td>808.8800</td>
      <td>807.0000</td>
      <td>808.5090</td>
      <td>23207</td>
    </tr>
    <tr>
      <th>2017-01-13 09:33:00</th>
      <td>807.9400</td>
      <td>808.0000</td>
      <td>806.6900</td>
      <td>807.0000</td>
      <td>10459</td>
    </tr>
    <tr>
      <th>2017-01-13 09:34:00</th>
      <td>809.2500</td>
      <td>809.2500</td>
      <td>807.6150</td>
      <td>807.6150</td>
      <td>8123</td>
    </tr>
    <tr>
      <th>2017-01-13 09:35:00</th>
      <td>809.0000</td>
      <td>809.1950</td>
      <td>808.3800</td>
      <td>809.0700</td>
      <td>4607</td>
    </tr>
    <tr>
      <th>2017-01-13 09:36:00</th>
      <td>808.9050</td>
      <td>809.3400</td>
      <td>808.7764</td>
      <td>808.7764</td>
      <td>4750</td>
    </tr>
    <tr>
      <th>2017-01-13 09:37:00</th>
      <td>809.0000</td>
      <td>809.0000</td>
      <td>808.4500</td>
      <td>808.6200</td>
      <td>2800</td>
    </tr>
    <tr>
      <th>2017-01-13 09:38:00</th>
      <td>808.9400</td>
      <td>809.1900</td>
      <td>808.7000</td>
      <td>809.1900</td>
      <td>9048</td>
    </tr>
    <tr>
      <th>2017-01-13 09:39:00</th>
      <td>809.1400</td>
      <td>809.2500</td>
      <td>808.7700</td>
      <td>808.9300</td>
      <td>10167</td>
    </tr>
    <tr>
      <th>2017-01-13 09:40:00</th>
      <td>808.9350</td>
      <td>809.1900</td>
      <td>808.8001</td>
      <td>809.1400</td>
      <td>19600</td>
    </tr>
    <tr>
      <th>2017-01-13 09:41:00</th>
      <td>809.2900</td>
      <td>809.5100</td>
      <td>808.8578</td>
      <td>809.0400</td>
      <td>10862</td>
    </tr>
    <tr>
      <th>2017-01-13 09:42:00</th>
      <td>810.0900</td>
      <td>810.1829</td>
      <td>809.2900</td>
      <td>809.2900</td>
      <td>5874</td>
    </tr>
    <tr>
      <th>2017-01-13 09:43:00</th>
      <td>810.1800</td>
      <td>810.4000</td>
      <td>809.6900</td>
      <td>809.9900</td>
      <td>4944</td>
    </tr>
    <tr>
      <th>2017-01-13 09:44:00</th>
      <td>809.5900</td>
      <td>810.1400</td>
      <td>809.5900</td>
      <td>810.0500</td>
      <td>3718</td>
    </tr>
    <tr>
      <th>2017-01-13 09:45:00</th>
      <td>810.6000</td>
      <td>810.6000</td>
      <td>809.2400</td>
      <td>809.5000</td>
      <td>3141</td>
    </tr>
    <tr>
      <th>2017-01-13 09:46:00</th>
      <td>811.0400</td>
      <td>811.2244</td>
      <td>810.1610</td>
      <td>810.6600</td>
      <td>3452</td>
    </tr>
    <tr>
      <th>2017-01-13 09:47:00</th>
      <td>810.6100</td>
      <td>811.1500</td>
      <td>810.5300</td>
      <td>810.9000</td>
      <td>2100</td>
    </tr>
    <tr>
      <th>2017-01-13 09:48:00</th>
      <td>810.3300</td>
      <td>811.0300</td>
      <td>810.3300</td>
      <td>810.6000</td>
      <td>1334</td>
    </tr>
    <tr>
      <th>2017-01-13 09:49:00</th>
      <td>810.3700</td>
      <td>810.5100</td>
      <td>809.7000</td>
      <td>810.2976</td>
      <td>2355</td>
    </tr>
    <tr>
      <th>2017-01-13 09:50:00</th>
      <td>810.5700</td>
      <td>810.5920</td>
      <td>810.1200</td>
      <td>810.2200</td>
      <td>1150</td>
    </tr>
    <tr>
      <th>2017-01-13 09:51:00</th>
      <td>810.7400</td>
      <td>811.0871</td>
      <td>810.7250</td>
      <td>810.7800</td>
      <td>7357</td>
    </tr>
    <tr>
      <th>2017-01-13 09:52:00</th>
      <td>810.1500</td>
      <td>810.7600</td>
      <td>810.0700</td>
      <td>810.7300</td>
      <td>2150</td>
    </tr>
    <tr>
      <th>2017-01-13 09:53:00</th>
      <td>810.2900</td>
      <td>810.6500</td>
      <td>810.2800</td>
      <td>810.3800</td>
      <td>1329</td>
    </tr>
    <tr>
      <th>2017-01-13 09:54:00</th>
      <td>810.7800</td>
      <td>810.9900</td>
      <td>810.3400</td>
      <td>810.3400</td>
      <td>4684</td>
    </tr>
    <tr>
      <th>2017-01-13 09:55:00</th>
      <td>809.7000</td>
      <td>810.6600</td>
      <td>809.7000</td>
      <td>810.5900</td>
      <td>4510</td>
    </tr>
    <tr>
      <th>2017-01-13 09:56:00</th>
      <td>809.4000</td>
      <td>809.8800</td>
      <td>809.4000</td>
      <td>809.8800</td>
      <td>2973</td>
    </tr>
    <tr>
      <th>2017-01-13 09:57:00</th>
      <td>808.8778</td>
      <td>809.5450</td>
      <td>808.8778</td>
      <td>809.5300</td>
      <td>800</td>
    </tr>
    <tr>
      <th>2017-01-13 09:58:00</th>
      <td>809.5750</td>
      <td>809.6804</td>
      <td>809.0000</td>
      <td>809.0032</td>
      <td>4957</td>
    </tr>
    <tr>
      <th>2017-01-13 09:59:00</th>
      <td>809.1800</td>
      <td>809.5650</td>
      <td>809.1800</td>
      <td>809.5200</td>
      <td>900</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2017-02-02 15:23:00</th>
      <td>797.5150</td>
      <td>797.7100</td>
      <td>797.4710</td>
      <td>797.6600</td>
      <td>400</td>
    </tr>
    <tr>
      <th>2017-02-02 15:24:00</th>
      <td>797.6300</td>
      <td>797.7390</td>
      <td>797.6300</td>
      <td>797.7390</td>
      <td>1115</td>
    </tr>
    <tr>
      <th>2017-02-02 15:25:00</th>
      <td>797.5700</td>
      <td>797.7900</td>
      <td>797.5700</td>
      <td>797.7800</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>2017-02-02 15:26:00</th>
      <td>797.9500</td>
      <td>797.9500</td>
      <td>797.6300</td>
      <td>797.6300</td>
      <td>600</td>
    </tr>
    <tr>
      <th>2017-02-02 15:27:00</th>
      <td>797.7600</td>
      <td>797.9299</td>
      <td>797.7500</td>
      <td>797.9258</td>
      <td>518</td>
    </tr>
    <tr>
      <th>2017-02-02 15:28:00</th>
      <td>798.0800</td>
      <td>798.0800</td>
      <td>797.7900</td>
      <td>797.7900</td>
      <td>4115</td>
    </tr>
    <tr>
      <th>2017-02-02 15:29:00</th>
      <td>797.9400</td>
      <td>798.0500</td>
      <td>797.9400</td>
      <td>797.9800</td>
      <td>1400</td>
    </tr>
    <tr>
      <th>2017-02-02 15:30:00</th>
      <td>797.7690</td>
      <td>797.9400</td>
      <td>797.7690</td>
      <td>797.8400</td>
      <td>2400</td>
    </tr>
    <tr>
      <th>2017-02-02 15:31:00</th>
      <td>797.6600</td>
      <td>797.8400</td>
      <td>797.6300</td>
      <td>797.8400</td>
      <td>2800</td>
    </tr>
    <tr>
      <th>2017-02-02 15:32:00</th>
      <td>797.4450</td>
      <td>797.7450</td>
      <td>797.4000</td>
      <td>797.6000</td>
      <td>4100</td>
    </tr>
    <tr>
      <th>2017-02-02 15:33:00</th>
      <td>797.8600</td>
      <td>797.8600</td>
      <td>797.4624</td>
      <td>797.4624</td>
      <td>3415</td>
    </tr>
    <tr>
      <th>2017-02-02 15:34:00</th>
      <td>797.9700</td>
      <td>798.0100</td>
      <td>797.8600</td>
      <td>797.8600</td>
      <td>2102</td>
    </tr>
    <tr>
      <th>2017-02-02 15:35:00</th>
      <td>798.0000</td>
      <td>798.0000</td>
      <td>797.8200</td>
      <td>797.9000</td>
      <td>1703</td>
    </tr>
    <tr>
      <th>2017-02-02 15:36:00</th>
      <td>798.1100</td>
      <td>798.1100</td>
      <td>797.9234</td>
      <td>797.9234</td>
      <td>1100</td>
    </tr>
    <tr>
      <th>2017-02-02 15:37:00</th>
      <td>798.2800</td>
      <td>798.2800</td>
      <td>797.9200</td>
      <td>798.1800</td>
      <td>2286</td>
    </tr>
    <tr>
      <th>2017-02-02 15:38:00</th>
      <td>798.2500</td>
      <td>798.3500</td>
      <td>798.1669</td>
      <td>798.2100</td>
      <td>2422</td>
    </tr>
    <tr>
      <th>2017-02-02 15:39:00</th>
      <td>798.2299</td>
      <td>798.3100</td>
      <td>798.0700</td>
      <td>798.3000</td>
      <td>1105</td>
    </tr>
    <tr>
      <th>2017-02-02 15:40:00</th>
      <td>798.2000</td>
      <td>798.3100</td>
      <td>798.0600</td>
      <td>798.2200</td>
      <td>5999</td>
    </tr>
    <tr>
      <th>2017-02-02 15:41:00</th>
      <td>798.2882</td>
      <td>798.4300</td>
      <td>798.1600</td>
      <td>798.3100</td>
      <td>3451</td>
    </tr>
    <tr>
      <th>2017-02-02 15:42:00</th>
      <td>798.9400</td>
      <td>798.9400</td>
      <td>798.2400</td>
      <td>798.3200</td>
      <td>5524</td>
    </tr>
    <tr>
      <th>2017-02-02 15:43:00</th>
      <td>798.8000</td>
      <td>799.0600</td>
      <td>798.7100</td>
      <td>798.9600</td>
      <td>3947</td>
    </tr>
    <tr>
      <th>2017-02-02 15:44:00</th>
      <td>798.7100</td>
      <td>798.7900</td>
      <td>798.5300</td>
      <td>798.7900</td>
      <td>3395</td>
    </tr>
    <tr>
      <th>2017-02-02 15:45:00</th>
      <td>798.3700</td>
      <td>798.7100</td>
      <td>798.3400</td>
      <td>798.7100</td>
      <td>3024</td>
    </tr>
    <tr>
      <th>2017-02-02 15:46:00</th>
      <td>798.1900</td>
      <td>798.5300</td>
      <td>798.1900</td>
      <td>798.4100</td>
      <td>6666</td>
    </tr>
    <tr>
      <th>2017-02-02 15:47:00</th>
      <td>798.3250</td>
      <td>798.3300</td>
      <td>798.1300</td>
      <td>798.2100</td>
      <td>2655</td>
    </tr>
    <tr>
      <th>2017-02-02 15:48:00</th>
      <td>798.3500</td>
      <td>798.5000</td>
      <td>798.1910</td>
      <td>798.4200</td>
      <td>12584</td>
    </tr>
    <tr>
      <th>2017-02-02 15:49:00</th>
      <td>798.3100</td>
      <td>798.5000</td>
      <td>798.1500</td>
      <td>798.2900</td>
      <td>8159</td>
    </tr>
    <tr>
      <th>2017-02-02 15:50:00</th>
      <td>798.3900</td>
      <td>798.4900</td>
      <td>798.3300</td>
      <td>798.3300</td>
      <td>4593</td>
    </tr>
    <tr>
      <th>2017-02-02 15:51:00</th>
      <td>798.4500</td>
      <td>798.5900</td>
      <td>798.2500</td>
      <td>798.4000</td>
      <td>11236</td>
    </tr>
    <tr>
      <th>2017-02-02 15:52:00</th>
      <td>798.5300</td>
      <td>798.6300</td>
      <td>798.1300</td>
      <td>798.5000</td>
      <td>61027</td>
    </tr>
  </tbody>
</table>
<p>5289 rows × 5 columns</p>
</div>