In [12]:
import pandas as pd

df = pd.read_csv('~/Downloads/DEMO.csv', index_col=None, header=0)
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['release_script'] = pd.to_datetime(df['release_script'])
bool(df.loc[0, 'timestamp'] < df.loc[0, 'release_script'])

True

In [2]:
df['date'] = [d.date() for d in df['timestamp']]
df['time'] = [d.time() for d in df['timestamp']]
df['price'] = df['close']

In [11]:
import numpy as np
def rolling_volatility(df, intvl=5):
    '''
    
    :param df: stock data frame, columns must have ['date', 'time', 'price'] 
    :param int: time interval, unit in minute
    :return: return a new data frame with its volatility
    '''
    
    data = df.copy()
    output = pd.DataFrame()
    
    for date in set(df.loc[:, 'date']):
        temp_df1 = data.loc[data.date == date, :]
        temp_df1['ind'] = temp_df1.index

        temp_df1 = temp_df1.groupby(temp_df1.index//intvl).mean()
        temp_df2 = temp_df1.set_index('ind')
        temp_df2.loc[:, 'time'] = df.loc[temp_df2.index, 'time']

        s_i = temp_df2['price']
        s_i_1 = temp_df2['price'].shift(1)
        temp_df2['u_sequence'] = np.log(s_i/s_i_1)
        s = temp_df2['u_sequence'].rolling(window=len(set(temp_df1.index//intvl)), center=False).std()
        #data.loc[data.date == date, str(intvl)+'_min_vol'] 
        temp_df2.loc[:, str(intvl)+'_min_vol'] = s * np.sqrt(len(set(temp_df1.index//intvl)))
        
        output = pd.concat([output,temp_df2])
    output.reset_index(drop=True,inplace=True)
    return output

def volatility(df, intvl=5):
    
    data = df.copy()
    avg_df = pd.DataFrame()
    output = pd.DataFrame(columns=['vol_before', 'vol_after'])
    
    for date in set(df.loc[:, 'date']):
        temp_df1 = data.loc[data.date == date, :]
        temp_df1['ind'] = temp_df1.index
        temp_df1 = temp_df1.groupby(temp_df1.index//intvl).mean()
        temp_df2 = temp_df1.set_index('ind')
        temp_df2.loc[:, 'timestamp'] = df.loc[temp_df2.index, 'timestamp']
        temp_df2.loc[:, 'release_script'] = df.loc[temp_df2.index, 'release_script']
        
        avg_df = pd.concat([avg_df,temp_df2])
    
    for date in set(avg_df.loc[:, 'release_script']):
        temp_df3 = avg_df.loc[avg_df.release_script == date,:]
        vol_before = temp_df3.loc[temp_df3.timestamp < temp_df3.release_script, 'price'].std()
        vol_after = temp_df3.loc[temp_df3.timestamp > temp_df3.release_script, 'price'].std()
        
        output.loc[date, :] = [vol_before, vol_after]
        output.index.name = 'date'
        output.sort_index(inplace=True)
    
    return output


def vol(df, mode):
    '''
    
    :param df: before or after stock data frame
    :param mode: 1 - before
                 0 - after
    :return: 
    '''
    
    intvl_list = [5,10,30,60,120]
    dic = {}
    
    for i in intvl_list:
        if mode:
            try:
                dic[str(i)+'_before'] = (df.iloc[-i, 7] - df.iloc[-1, 7]) / df.iloc[-1, 7]
            except:
                pass
    
        else: 
            try:
                dic[str(i)+'_after'] = (df.iloc[i, 7].max() - df.iloc[0 , 7]) / df.iloc[0, 7]
            except:
                pass
    
    return dic


def auto_vol(df):
    
    data = df.copy()
    output = pd.DataFrame(columns=['10_after', '5_after', '120_before', '30_after', 
                                   '5_before', '60_before', '60_after', '10_before', '30_before', '120_after'])
        
    for date in set(data.loc[:, 'release_script']):
        
        temp_df1 = data.loc[data.release_script == date, :]
        
        df_before = temp_df1.loc[temp_df1.timestamp < temp_df1.release_script, :]
        
        df_after = temp_df1.loc[temp_df1.timestamp > temp_df1.release_script, :]
        
        dic ={**vol(df_before,1), **vol(df_after, 0)}
        
        for key in dic.keys():
            output.loc[date, key] = dic[key]
    
    return output
        

auto_vol(df)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>10_after</th>
      <th>5_after</th>
      <th>120_before</th>
      <th>30_after</th>
      <th>5_before</th>
      <th>60_before</th>
      <th>60_after</th>
      <th>10_before</th>
      <th>30_before</th>
      <th>120_after</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2012-12-24 10:30:00</th>
      <td>0.00372317</td>
      <td>0.00131406</td>
      <td>NaN</td>
      <td>-0.00087604</td>
      <td>-0.00218914</td>
      <td>0.00175131</td>
      <td>-0.00043802</td>
      <td>-0.00394046</td>
      <td>-0.0131349</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-10-28 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.00654837</td>
      <td>NaN</td>
      <td>0.000211238</td>
      <td>0.00211238</td>
      <td>NaN</td>
      <td>-0.000633714</td>
      <td>-0.00190114</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-04-28 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.000373902</td>
      <td>NaN</td>
      <td>-0.000934754</td>
      <td>0.00169564</td>
      <td>NaN</td>
      <td>0.00149561</td>
      <td>0.00186951</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-07-31 10:00:00</th>
      <td>0.0181143</td>
      <td>0.013934</td>
      <td>NaN</td>
      <td>0.0404087</td>
      <td>-0.00348594</td>
      <td>0.0239368</td>
      <td>0.0427311</td>
      <td>-0.00766907</td>
      <td>-0.0118522</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-02-05 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.0115348</td>
      <td>NaN</td>
      <td>-0.00448574</td>
      <td>-0.0144185</td>
      <td>NaN</td>
      <td>-0.00544697</td>
      <td>-0.00448574</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-07-27 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.00196569</td>
      <td>NaN</td>
      <td>0.000714796</td>
      <td>0.00187634</td>
      <td>NaN</td>
      <td>0.000536097</td>
      <td>0.000893495</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-07-25 09:00:00</th>
      <td>-0.042042</td>
      <td>-0.02002</td>
      <td>0.0123579</td>
      <td>-0.0865866</td>
      <td>0.0103806</td>
      <td>0.0081562</td>
      <td>-0.0980981</td>
      <td>0.00617894</td>
      <td>0.00395452</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-11-02 10:00:00</th>
      <td>-0.00489331</td>
      <td>-0.00930531</td>
      <td>NaN</td>
      <td>-0.00128349</td>
      <td>0.00160578</td>
      <td>0.018065</td>
      <td>-0.00770095</td>
      <td>0.00642312</td>
      <td>0.0160578</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-04-30 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.00782937</td>
      <td>NaN</td>
      <td>0.000809935</td>
      <td>0.00134989</td>
      <td>NaN</td>
      <td>0.00215983</td>
      <td>0.00404968</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-04-25 10:00:00</th>
      <td>-0.00487329</td>
      <td>0.000487329</td>
      <td>-0.00195886</td>
      <td>-0.00438596</td>
      <td>-0.00391773</td>
      <td>-0.00391773</td>
      <td>0.00146199</td>
      <td>0</td>
      <td>0.0186092</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-10-30 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0</td>
      <td>0.00388601</td>
      <td>NaN</td>
      <td>0.00111029</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-02-08 17:30:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.000870928</td>
      <td>NaN</td>
      <td>0.000522557</td>
      <td>-0.000870928</td>
      <td>NaN</td>
      <td>-0.000522557</td>
      <td>0.000696743</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-05-03 09:00:00</th>
      <td>-0.00389974</td>
      <td>-0.0155109</td>
      <td>-0.00494438</td>
      <td>0.0111707</td>
      <td>-0.000412031</td>
      <td>-0.012773</td>
      <td>0.0193746</td>
      <td>0.000618047</td>
      <td>-0.00206016</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-07-29 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.00777605</td>
      <td>NaN</td>
      <td>-0.000444346</td>
      <td>-0.000666519</td>
      <td>NaN</td>
      <td>0.000444346</td>
      <td>-0.000222173</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-11-05 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.00730397</td>
      <td>NaN</td>
      <td>0.00322234</td>
      <td>-0.00580021</td>
      <td>NaN</td>
      <td>0.00451128</td>
      <td>-0.00150376</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-07-29 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.00171789</td>
      <td>NaN</td>
      <td>-0.000381752</td>
      <td>-0.000190876</td>
      <td>NaN</td>
      <td>0.000190876</td>
      <td>0.0020042</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-02-04 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.00906404</td>
      <td>NaN</td>
      <td>-0.000197044</td>
      <td>-0.0070936</td>
      <td>NaN</td>
      <td>0.00216749</td>
      <td>-0.00492611</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-02-04 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.00555912</td>
      <td>NaN</td>
      <td>-0.00128287</td>
      <td>-0.00962155</td>
      <td>NaN</td>
      <td>0.00277956</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-04-29 10:00:00</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>-0.00750596</td>
      <td>NaN</td>
      <td>0.00018352</td>
      <td>-0.00055056</td>
      <td>NaN</td>
      <td>0</td>
      <td>0.00311984</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-02-08 09:00:00</th>
      <td>0.0445223</td>
      <td>0.038019</td>
      <td>NaN</td>
      <td>0.132566</td>
      <td>0.00102197</td>
      <td>-0.00914665</td>
      <td>0.0985493</td>
      <td>0.000919775</td>
      <td>-0.00153296</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-02-12 09:00:00</th>
      <td>-0.0315556</td>
      <td>-0.0306622</td>
      <td>0.0174301</td>
      <td>-0.0528889</td>
      <td>-0.00121605</td>
      <td>0.0170247</td>
      <td>-0.0507378</td>
      <td>0.000405351</td>
      <td>0.00486015</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>